# Diretórios de Build
build/
out/


# Gradle
.gradle/
gradle/
gradlew
gradlew.bat

# IntelliJ IDEA
.idea/
*.iml

# Arquivos Temporários e Logs
*.log
*.tmp
*.bak

# Arquivos Compilados Java
*.class

# Arquivos JAR/WAR/EAR
*.jar
*.war
*.ear

