# Diretórios de Build
build/
out/
!gradle/wrapper/gradle-wrapper.jar # Permitir o jar do Gradle Wrapper

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.properties # Permitir o properties do Gradle Wrapper

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Arquivos Temporários e Logs
*.log
*.tmp
*.bak

# Arquivos Compilados Java
*.class

# Arquivos de Pacote
*.jar
*.war
*.ear
*.zip
*.tar

# Arquivos de distribuição gerados pelo Gradle
app/build/distributions/
build/distributions/

# Outros arquivos e diretórios a ignorar
*.swp
*~
.DS_Store
Thumbs.db

# Arquivos específicos do sistema
**/.DS_Store
**/Thumbs.db

# Pastas de teste binário
**/test-results/
**/binary/